Main base - escritura de la base de datos.

DB_HOST= "Localhost o IP de destino a la base"
DB_PORT= "Puerto, no usar predeterminado"
DB_USER= "Usuario de la base"
DB_PASSWORD= "Contraseña de la base"
DB_NAME= "Nombre de la base"

