# Main base - Permisos de escritura de la base de datos.

DB_HOST= "Localhost o IP de destino a la base"
DB_PORT= "Puerto, no usar predeterminado"
DB_USER= "Usuario de la base"
DB_PASSWORD= "Contraseña de la base"
DB_NAME= "Nombre de la base"

# Base de replica - copia de seguridad, usuario sin permisos de escritura.

DBL_HOST= "IP de destino a la base (Solo en red local)"
DBL_PORT= "Puerto, no usar predeterminado"
DBL_USER= "Usuario de la base"
DBL_PASSWORD= "Contraseña de la base"
DBL_NAME= "Nombre de la base"

# Segunda Base de replica - copia de seguridad, usuario sin permisos de escritura.

DBS_HOST= "IP de destino a la base (Solo en red local)"
DBS_PORT= "Puerto, no usar predeterminado"
DBS_USER= "Usuario de la base"
DBS_PASSWORD= "Contraseña de la base"
DBS_NAME= "Nombre de la base"